{% extends "base_imgup.html" %}
{% load thumbnail %}
{% block title %}{{ user }}{% endblock %}
{% block content %}
	<h3>Images uploaded by {{ user }}</h3>
	{% if images %}
			{% for i in images %}
				<div class="imgBox">
					<a href="{{ i.img.url }}">
						{% thumbnail i.img "150x150" crop="center" as im %}
							<img src="{{ im.url }}" alt="{{ i.img.title }}">
							{% if owner %}
								<a href="/imgup/delete/{{ i.id }}/">Delete</a>
							{% endif %}
						{% endthumbnail %}
					</a>
				</div>
			{% endfor %}
	{% else %}
		No images uploaded yet.
	{% endif %}
{% endblock %}