{% extends "base_imgup.html" %}
{% load thumbnail %}
{% block title %}{{ user }}{% endblock %}
{% block content %}
	<h3>Images uploaded by {{ user }}</h3>
	{% if images %}
		{% for i in images %}
			<div class="imgBox">
				<a href="{{ i.img.url }}" data-lightbox="img-{{ i.id }}">
					{% thumbnail i.img "150x150" crop="center" as im %}
						<img src="{{ im.url }}" alt="img-{{ i.id }}">
						{% if owner %}
							<a href="/imgup/delete/{{ i.id }}/">Delete</a>
						{% endif %}
					{% endthumbnail %}
				</a>
			</div>
		{% endfor %}
	{% else %}
		No images uploaded yet.
	{% endif %}
{% endblock %}